@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #059669;
    /*making color variable, root means entire css */
    --dark-gray: #6B7280;
    --off-white:#F3F4F6;
}

.glassmorphism{
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
}


hr {
    margin: 2rem 0rem;
}

body {
    font-family: 'Montserrat', sans-serif;
 
}

/* body h1 div class are selectors*/
.margin-md{
    margin: 2rem;
}


/**------- @container-----------**/
.container {
    padding: 1rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* .container-fluid{

} */



/*-----------------@links------------------*/
a{
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

/* look into bem naming convension*/



/*---------------@list-----------------*/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/*--------------@NAV----------------*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;

    font-family: sans-serif;
}

.center-ContainerParent{
  min-height: calc(100vh - 7vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-container{
    margin: 1rem;
}
.question-container label {
    padding-top: 0.5rem; 
    margin-left: 1rem;
    display: block;
   }
.question-container button {
    margin: 1rem;
}

label {
    padding-top: 0.5rem; 
    margin-left: 1rem;
    display: inline-block;
   }

   input:last-child {
    margin-bottom: 1rem;
   }
